body{
    background-color: #14181b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 0;
}

.someting{
    margin-top: 20px;
    margin-left: 5vw;
}

/* .links{ */
/* } */

a{
    text-decoration: none;
    color: azure;
    font-size: 1.1vw;
    text-decoration: underline;
  }
